aiohttp
aria2p==0.9.1
bs4
cfscrape
cloudscraper
feedparser
git+https://github.com/cinemagoer/cinemagoer
hachoir
heroku3
html-telegraph-poster
hurry.filesize
js2py
lk21
lxml
messages
natsort
Pillow
psycopg2-binary
psutil
pybase64
pycountry
pyprog
pyrogram
python-dotenv
python-telegram-bot==13.15
pytz
requests
speedtest-cli
telegraph
tgcrypto
urllib3
uvloop
yt-dlp