aiohttp
aria2p==0.9.1
beautifulsoup4
bs4
cfscrape
cloudscraper
feedparser
hachoir
heroku3
html-telegraph-poster
hurry.filesize
git+https://github.com/cinemagoer/cinemagoer
js2py
lk21
lxml
messages
natsort
Pillow
psutil
psycopg2-binary
pycountry
pyrogram
python-dotenv
pytz
pyprog
python-telegram-bot==13.15
pybase64
requests
speetest-cli
telegraph
tgcrypto
urllib3==1.26.15
yt-dlp
